---
layout: page
title: Blog
sub_title: Blog Posts
navigation: false
pagination:
  enabled: 
    true
---

    {% include page_banner.html %}
    <!-- Start Blog Area -->
    <section class="blog-area themeix-ptb">
        <div class="container">
            <div class="row">
                <!-- Start Blog Content -->
                <div class="col-md-8">
                    <div class="blog-wrapper">
                      {% include blog_posts.html %}  
                    </div>
                 <div class="pagination-wrapper">
                   {% include pagination.html %}
                 </div>
                </div>
                <!-- End Blog Content -->
                <!-- Start Blog Sidebar -->
                <div class="col-md-4">
                    <div class="row">
                        <div class="blog-sidebar">
                            <!--
                            <div class="col-md-12 col-sm-6">
                                <aside id="dwqa-categories-2" class="widget widget_categories dwqa_widget dwqa_widget_categories sidebar-list">
                                  {% include popular_questions.html %}
                                </aside>
                            </div>
                            -->
                            <div class="col-md-12 col-sm-6">
                              {% include twitter_widgets.html %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Blog Sidebar -->
            </div>
        </div>
    </section>
    <!-- End Blog Area -->
    {% comment %}
    {% include call_to_action.html %}
    {% endcomment %}
