<!-- Start Blog Area -->
<section class="blog-area themeix-ptb">
  <div class="container">
    <div class="row">
      <!-- Start Blog Content -->
      <div class="col-md-12">
        <div class="blog-wrapper">
          <div class="single-blog-details">
            <div class="blog-content-desc">
              <h2 class="themeix-section-title text-center">Why DGL?</h2>
              <p>{{ content }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Blog Content -->
    </div>
  </div>
</section>
