{% for post in paginator.posts %}
<div class="single-blog">
  <div class="blog-img">
    <a href="{{post.url}}"><img src="{{post.post_image}}" alt="blog"></a>
    <div class="hover-icon">
      <a href="{{ post.url }}"><i class="fa fa-link" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="blog-content">
    <h4 class="themeix-blog-h"><a href="{{post.url}}">{{post.title}}</a></h4>
    <div class="blog-data">
      <p>By 
      {% for author in post.authors %}
      <a href="{{author.url}}">{{author.name}}</a>,
      {% endfor %}
       in <a href="#">{{post.category}}</a> </p>
    </div>
    <p>{{post.abstract}}</p>
    <a href="{{post.url}}" class="themeix-btn hover-bg">Read more</a>
    <div class="blog-post-date">
      <p>{{post.date | date: "%-d"}} <span>{{post.date | date: "%B"}}</span> </p>
    </div>
  </div>
</div>
{% endfor %} 
