<!-- Start Document Source Area -->
<section>
    <div class="document-source-area themeix-ptb">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="single-box">
                        <div class="box-inner">
                            <img src="{{site.baseurl}}/assets/images/icon1.png" alt="box img">
                            <h3>News</h3>
                            <p></p>
                            <!--<a href="/pages/updates.html" class="themeix-btn danger-bg">Get Updates</a>-->
                        </div>
                        <div class="box-flip">
                          <div class="flip-box-innner">
                            <h3>Latest Updates</h3>
                            <p>Keep track of what's new in DGL, such as important bug fixes, new features, new releases, etc.</p>
                            <a href="https://github.com/dmlc/dgl/releases" class="themeix-btn danger-bg">See All Updates</a>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-box">
                        <div class="box-inner">
                            <img src="{{site.baseurl}}/assets/images/icon2.png" alt="box img">
                            <h3>Blogs</h3>
                            <p></p>
                            <!--<a href="/pages/index.html" class="themeix-btn hover-bg">Visit Blogs</a>-->
                        </div>
                        <div class="box-flip">
                          <div class="flip-box-innner">
                            <h3>Visit Blogs</h3>
                            <p>Deep learning on graphs is very new direction. We use blogs to introduce new ideas
                            and researches of this area and explains how DGL can support them very easily.</p>
                            <a href="/pages/index.html" class="themeix-btn danger-bg">Read All Blogs</a>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-box">
                        <div class="box-inner">
                            <img src="{{site.baseurl}}/assets/images/icon3.png" alt="box img">
                            <h3>Discussion</h3>
                            <p></p>
                            <!--<a href="updates.html" class="themeix-btn primary-bg">Join</a>-->
                        </div>
                        <div class="box-flip">
                           <div class="flip-box-innner">
                            <h3>Join Discussion</h3>
                            <p>Got questions? Interested in contributing? or simply want to know what others are playing with? Use our forum for all kinds of discussion.</p>
                            <a href="https://discuss.dgl.ai" class="themeix-btn danger-bg">Visit Our Forum</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Document Source Area -->
