<!-- Start About-us Bg -->
<div class="about-us-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="about-us-info">
                    <h2>Exceptional user experience and advanced design options, different style header and footers, new features and much more...</h2>
                    <a class="themeix-btn primary-bg" href="contact.html">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About-us Bg -->