    <!-- Start Contact Form Area -->
    <div class="contact-section pt-80">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="themeix-section-title">
                        <h2>Ask What You Want To Know?</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                    </div>
                </div>
                <div class="col-sm-8 wow bounceInLeft animated">
                    <div class="contact-form">
                        <form action="https://formspree.io/your@email.com" method="post">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" name="name" placeholder="Full Name *" type="text" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" name="email" placeholder="Email *" type="email" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" name="phone" placeholder="Phone" type="text" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" name="website" placeholder="Website" type="text">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea rows="5" class="form-control" name="comment" placeholder="Your Message *"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <button type="submit" class="themeix-btn hover-bg">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-4 wow bounceInRight animated">
                    <div class="contact-info">
                        <img class="img-responsive" src="{{site.baseurl}}/assets/images/person2.png" alt="contact">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Form Area -->