    <!-- Start FAQ Section -->
    <section class="faq-section themeix-ptb">
        <div class="container">
            <div class="row">
 
                <div class="col-sm-7">
                    <div class="themeix-section-title">
                        <h2>Frequently Asked Questions</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                    </div>				
                    <div class="faq-tab-wrapper">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default themeix-panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                       <a  data-toggle="collapse" data-parent="#accordion" class="minus-sign" href="#accordion-one">What is documenter?</a>
                                   </h4>
                                </div>
                                <div id="accordion-one" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default themeix-panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                       <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#accordion-two">Can you help me customize my site ?</a>
                                   </h4>
                                </div>
                                <div id="accordion-two" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default themeix-panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accordion-three">What kind of your themes?</a>
                                   </h4>
                                </div>
                                <div id="accordion-three" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default themeix-panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                       <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accordion-four">How do I activate the forum ?</a>
                                   </h4>
                                </div>
                                <div id="accordion-four" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default themeix-panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                       <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accordion-five">Do I need special software ?</a>
                                   </h4>
                                </div>
                                <div id="accordion-five" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default themeix-panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                       <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accordion-six">Do I need special software ?</a>
                                   </h4>
                                </div>
                                <div id="accordion-six" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Live Chat -->
                <div class="col-md-offset-1 col-sm-4">	
                    <div class="live-chat">
                        <img src="{{site.baseurl}}/assets/images/person1.png" alt="person">
						<div class="chat-agent-details">
							<h6>Nandita Roy</h6>
							<p>Wordpress Support Ninja</p>
						</div>
                        <div class="chat-link">
                            <a href="https://twitter.com/messages/compose?recipient_id=843810025478930432"><span class="live">Live</span> Chat Agent <span>Get 24/7 Customer Support</span></a>
                        </div>
						<div class="chat-phone">
							+123 123 1234
						</div>
                    </div>
                </div>
                <!-- End Live Chat -->
            </div>
        </div>
    </section>
    <!-- End FAQ Section -->