<!-- Start Parallax section -->
<div class="parallax-area themeix-ptb">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="themeix-section-title text-center">
          <h2>Highlighted Features</h2>
          <p></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="single-article">
          <div class="article-icon">
            <span class="fa fa-magic"></span>
          </div>
          <div class="article-text">
            <a class="article-title" href="https://docs.dgl.ai/">No Migration Cost</a>
            <p>DGL is built atop of popular Deep Learning frameworks such as Pytorch and Apache MXNet.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="single-article">
          <div class="article-icon">
            <span class="fa fa-paper-plane"></span>
          </div>
          <div class="article-text">
            <a class="article-title" href="https://docs.dgl.ai/">Smooth Learning Curve</a>
            <p>Learning DGL is a blink. The powerful user-defined functions are both flexible and easy to use.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="single-article">
          <div class="article-icon">
            <span class="fa fa-bolt"></span>
          </div>
          <div class="article-text">
            <a class="article-title" href="https://github.com/dmlc/dgl/tree/master/examples/pytorch">High performance</a>
            <p>DGL automatically batches deep neural network training on one or many graphs together to achieve max efficiency.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Parallax section -->
