    <!-- Start Footer Area -->
    <footer>
        <div class="footer-area themeix-ptb">
            <div class="container">
                <div class="row">
                    <div class="footer-wrapper">
                        <div class="col-sm-6 col-md-3">
                            <div class="single-footer">
                                <h3 class="footer-heading">Follow Us</h3>
                                <div class="single-footer-text">
                                    <p>Keep track the latest news, blogs and updates of DGL by following our social media accounts.</p>
                                </div>
                                <div class="social-links">
                                    <ul>
                                        <li><a href="https://twitter.com/GraphDeep"><i class="fa fa-twitter"></i></a></li>
                                        <li class="fb-link"><a href="https://www.facebook.com/GraphDeep/"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="/feed.xml"><i class="fa fa-rss"></i></a></li>
                                        <!--<li class="gp-link"><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="single-footer">
                                <h3 class="footer-heading">Quick Links</h3>
                                <div class="footer-list">
                                    <ul>
                                        <li><a href="/pages/about.html">About us</a></li>
                                        <li><a href="/pages/start.html">Get started</a></li>
                                        <li><a href="https://github.com/dmlc/dgl/releases">Latest updates</a></li>
                                        <li><a href="/pages/index.html">Blogs</a></li>
                                        <li><a href="https://github.com/dmlc/dgl/">Github</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="single-footer">
                                <h3 class="footer-heading">Materials</h3>
                                <div class="footer-list">
                                    <ul>
                                        <li><a href="https://docs.dgl.ai/tutorials/models/index.html">Tutorials</a></li>
                                        <li><a href="https://discuss.dgl.ai">Discuss forum</a></li>
                                        <li><a href="https://github.com/dmlc/dgl/issues">Github issues</a></li>
                                        <li><a href="https://github.com/dmlc/dgl/blob/master/CONTRIBUTORS.md">Contributing</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="single-footer">
                                <h3 class="footer-heading">Contact Us</h3>
                                <div class="subscribe-form">
                                    <form action="https://formspree.io/f/maylbdvy" method="POST">
                                        <input type="text" name="name" id="name" class="form-control" placeholder="Name" required>
                                        <input type="text" name="message" id="message" class="form-control" placeholder="Message" required>
                                        <input type="email" name="_replyto" id="email" class="form-control" placeholder="Email" required>
                                        <button type="submit" class="hover-bg">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Footer Bottom Area -->
        <!--
        <div class="footer-bottom-area themeix-pb">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="footer-bottom">
                            <div class="footer-logo">
                                <a href="#"><img src="{{site.baseurl}}/assets/images/footer-logo.png" alt="logo"></a>
                            </div>
                            <div class="footer-links">
                                <ul>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Refund Policy</a></li>
                                    <li><a href="#">Disclaimer</a></li>
                                </ul>
                            </div>
                            <div class="copyright-text">
                                <p>All content Documenter &copy; 2017 - All rights reserved. - Proudly made with <a href="http://designingmarket.com">Designing Market</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
        <!-- End Footer Bottom Area -->
        <!-- Start Scroll To Top -->
        <div class="scroll-top">
            <div class="scroll-icon">
                <i class="fa fa-angle-up"></i>
            </div>
        </div>
        <!-- End Scroll To Top -->
    </footer>
    <!-- End Footer Area -->

    <!-- jquery min -->
    <script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.1/js/jquery.dataTables.min.js"></script>
    

    <!-- Bootstrap Js -->
    <script src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>

    <!-- jQuery Easing -->
    <script src="{{site.baseurl}}/assets/js/jquery.easing.js"></script>

    <!-- Owl Carousel Js -->
    <script src="{{site.baseurl}}/assets/js/owl.carousel.min.js"></script>

    <!-- Google Map -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOCx7VEftKaGSK2F2p_tUKmMSdN00palo"></script> -->

    <!-- Mean Menu -->
    <script src="{{site.baseurl}}/assets/js/jquery.meanmenu.js"></script>

    <!-- Particles JS CDN -->
    <script src="{{site.baseurl}}/assets/js/particles.min.js"></script> 

    <!-- Main Js -->
    <script src="{{site.baseurl}}/assets/js/main.js"></script>

    <!-- MathJax Js -->
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
</body>

</html>
