<!-- Start HighLights -->
<div class="our-community-area themeix-pt">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="single-community">
                    <h3>Framework Agnostic</h3>
                    <p>Build your models with PyTorch, TensorFlow or Apache MXNet.</p>
                    <img src="{{site.baseurl}}/assets/images/framework.jpg" alt="framework" width=50% />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="single-community">
                    <h3>Efficient and Scalable</h3>
                    <p>Fast and memory-efficient message passing primitives for training
                    Graph Neural Networks. Scale to giant graphs via multi-GPU acceleration
                    and distributed training infrastructure.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="single-community">
                    <h3>Diverse Ecosystem</h3>
                    <p>DGL empowers a variety of domain-specific projects including <a href="https://github.com/awslabs/dgl-ke">DGL-KE</a> for learning
                    large-scale knowledge graph embeddings, <a href="https://github.com/awslabs/dgl-lifesci">DGL-LifeSci</a> for
                    bioinformatics and cheminformatics, and many others.</p>
                </div>
            </div>
        </div>
        <!--
        <div class="row">
            <div class="col-sm-4">
                <div class="single-community">
                    <img src="{{site.baseurl}}/assets/images/framework.jpg" alt="framework" width=70% />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="single-community">
                    <img src="{{site.baseurl}}/assets/images/vspyg.jpg" alt="vspyg" width=70% />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="single-community">
                    <img src="{{site.baseurl}}/assets/images/dgl-app.jpg" alt="dglapp" width=70% />
                </div>
            </div>
        </div>
        -->
    </div>
</div>
<!-- End HighLights -->
