<!-- Start HighLights -->
<div class="our-community-area themeix-ptb">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="single-community">
                    <h3>Framework Agnostic</h3>
                    <p>Build your models with PyTorch, TensorFlow or MXNet.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="single-community">
                    <img src="{{site.baseurl}}/assets/images/framework.jpg" alt="framework" width=70% />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="single-community">
                    <h3>High Performant</h3>
                    <p>DGL adopts advanced optimization techniques like kernel fusion, multi-thread and multi-process acceleration, and
                    automatic sparse format tuning. Compared with other popular GNN frameworks such as PyTorch Geometric, DGL is both
                    faster and more memory-friendly.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="single-community">
                    <img src="{{site.baseurl}}/assets/images/vspyg.jpg" alt="vspyg" width=60% />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="single-community">
                    <h3>Ecosystem of Domain specific toolkits</h3>
                    <p>DGL supports a variety of domains. <a href="https://github.com/awslabs/dgl-ke">DGL-KE</a> is an easy-to-use and highly scalable package for learning
                    large-scale knowledge graph embeddings. <a href="https://github.com/awslabs/dgl-lifesci">DGL-LifeSci</a> is a specialized package for applications
                    in bioinformatics and cheminformatics powered by graph neural networks.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="single-community">
                    <img src="{{site.baseurl}}/assets/images/dgl-app.jpg" alt="dglapp" width=60% />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End HighLights -->
