<!-- Start HighLights -->
<div class="our-community-area themeix-ptb">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="single-community">
                    <h3>Framework Agnostic</h3>
                    <p>Build your models with PyTorch, TensorFlow or Apache MXNet.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="single-community">
                    <h3>Efficient and Scalable</h3>
                    <p>DGL adopts advanced optimization techniques to accelerate and scale Graph Neural Network models. Compared with other popular GNN frameworks such as PyTorch Geometric, DGL is both
                    faster and more memory-friendly.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="single-community">
                    <h3>Diverse Ecosystem</h3>
                    <p>DGL empowers a variety of domain specific projects including <a href="https://github.com/awslabs/dgl-ke">DGL-KE</a> for learning
                    large-scale knowledge graph embeddings, <a href="https://github.com/awslabs/dgl-lifesci">DGL-LifeSci</a> for applications
                    in bioinformatics and cheminformatics and many other community projects.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="single-community">
                    <img src="{{site.baseurl}}/assets/images/framework.jpg" alt="framework" width=70% />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="single-community">
                    <img src="{{site.baseurl}}/assets/images/vspyg.jpg" alt="vspyg" width=70% />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="single-community">
                    <img src="{{site.baseurl}}/assets/images/dgl-app.jpg" alt="dglapp" width=70% />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End HighLights -->
