<!-- Start Document Source Area -->
<!-- import Vue.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js"></script>

<!-- import iView -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/iview/3.5.4/iview.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/iview/3.5.4/locale/en-US.js"></script>

<!-- import Vue.multiselect -->
<script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
<link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">

<section class="blog-area themeix-ptb">
  <div class="container">
    <h2 class="themeix-section-title text-center">Installation</h2>
    <div class="row">

      <div class="col-sm-12">
        <div class="blog-wrapper">
          <div class="single-blog-details">
            <!-- Begin install cmd app -->
            <div id="app" style="padding: 32px">
              <row>
                <i-col span="5">
                  <div class="guide"> CUDA:</div>
                </i-col>
                <i-col span="19">
                  <div id="vbtn_div">
                  <radio-group id="version_button" v-model="button_cuda" type="button" size="large" style="width: 100%;">
                    <radio label="None"></radio>
                    <radio label="11.6"></radio>
                    <radio label="11.7"></radio>
                    <radio label="11.8"></radio>
                  </radio-group>
                </div>
                </i-col>
              </row>
              <br />
              <row>
                <i-col span="5">
                  <div class="guide"> Package:</div>
                </i-col>
                <i-col span="19">
                  <radio-group v-model="button_pkg" type="button" size="large">
                    <radio label="Conda(Stable)"></radio>
                    <radio label="Pip(Stable)"></radio>
                    <radio label="Pip(Nightly Build)"></radio>
                  </radio-group>
                </i-col>
              </row>
              <br>
              <row>
                <i-col span="5">
                  <div class="guide"> Your OS:</div>
                </i-col>
                <i-col span="19">
                  <radio-group v-model="button_os" type="button" size="large">
                    <radio label="Linux"></radio>
                    <radio label="Windows"></radio>
                    <radio label="Mac"></radio>
                  </radio-group>
                </i-col>
              </row>
              <br><br>
              <row>
                <i-col span="5">
                  <div> Run this:</div>
                </i-col>
                <i-col span="19">
                  <i-input v-model="path_value" type="textarea" :autosize="true" style="width: 100%"
                    class="vertical-center" readonly />
                </i-col>
              </row>

            </div>
          </div>
          <!-- End install cmd app -->
          <div class="blog-content-desc">
            <p>{{ content }}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>


</section>

<style type="text/css" scoped>
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .ivu-radio-wrapper {
    text-align: center;
    width: 150px;
  }

  #vbtn_div > div>label.ivu-radio-wrapper{
    width: 120px
  }

  .ivu-col {
    height: 50px;
    line-height: 50px;
  }

  .ivu-input {
    background: #f0faff;
    padding: 10px;
    resize: none;
  }
</style>

<script>
  Vue.component('vue-multiselect', window.VueMultiselect.default)
  function pip_path_cuda(_build_dir, _pkg) {
    var build_dir = {
      '11.6': 'cu116',
      '11.7': 'cu117',
      '11.8': 'cu118',
      'None': '',
    }[_build_dir];
    var prefix = (_pkg == 'Pip(Nightly Build)') ? 'wheels-test' : 'wheels';
    var flag = (_pkg == 'Pip(Nightly Build)') ? '--pre' : '';
    var slash = build_dir == "" ? "" : "/";
    var cmd = "# If you have installed dgl-cuXX package, please uninstall it first.\n";
    cmd += "pip install " + flag + " dgl -f https://data.dgl.ai/" + prefix + slash + build_dir + "/repo.html" + "\n";
    cmd += "pip install " + flag + " dglgo -f https://data.dgl.ai/wheels-test/repo.html";
    return cmd;
  }

  function conda_path(cuda) {
    var link_dict = {
      'None': 'conda install -c dglteam dgl',
      '11.6': 'conda install -c dglteam/label/cu116 dgl',
      '11.7': 'conda install -c dglteam/label/cu117 dgl',
      '11.8': 'conda install -c dglteam/label/cu118 dgl'
    };
    return "# If you have installed dgl-cudaXX.X package, please uninstall it first.\n" + link_dict[cuda];
  }


  var vm = new Vue({
    el: "#app",
    data: {
      button_cuda: 'None',
      button_os: 'Linux',
      button_pkg: 'Conda(Stable)',
    },
    computed: {
      path_value: function () {
        if (this.button_os === 'Mac') {
          var cmd = (this.button_pkg === 'Conda(Stable)') ? conda_path('None') : "pip install dgl -f https://data.dgl.ai/wheels/repo.html";
          if (this.button_pkg === 'Pip(Nightly Build)') {
            cmd += '\nMacOS binary does not have nightly build version. Install from source if needed.'
          }
          if (this.button_cuda !== 'None') {
            cmd += '\nMacOS binary does not support CUDA. Install from source if needed.'
          }
          return cmd
        } else {
          if (this.button_pkg === 'Conda(Stable)') {
            return conda_path(this.button_cuda)
          } else {
            if (this.button_os === 'Windows' && this.button_pkg === 'Pip(Nightly Build)') {
              return pip_path_cuda(this.button_cuda, 'Pip(Stable)') + "\nWindows binary does not have nightly build version. Install from source if needed."
            } else {
              return pip_path_cuda(this.button_cuda, this.button_pkg)
            }
          }
        }
      }
    }
  })
</script>
<!-- End Document Source Area -->
