<!-- Start Document Source Area -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.1/css/jquery.dataTables.min.css">

<!-- <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.16/css/bootstrap-multiselect.min.css"> -->
<!-- import Vue.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js"></script>


<!-- import Vue.multiselect -->
<script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
<link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">


<!-- import iView -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/iview/3.5.4/iview.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/iview/3.5.4/locale/en-US.js"></script>

<section class="blog-area themeix-ptb">
  <div class="container">
    <h2 class="themeix-section-title text-center">Installation</h2>
    <div class="row">

      <div class="col-sm-12">
        <div class="blog-wrapper">
          <div class="single-blog-details">
            <!-- Begin install cmd app -->
            <div id="app" style="padding: 32px">
              <row>
                <i-col span="5">
                  <div class="guide"> CUDA:</div>
                </i-col>
                <i-col span="19">
                  <radio-group v-model="button_cuda" type="button" size="large" style="width: 100%;">
                    <radio label="None"></radio>
                    <radio label="9.2"></radio>
                    <radio label="10.1"></radio>
                    <radio label="10.2"></radio>
                    <radio label="11.0"></radio>
                  </radio-group>
                </i-col>
              </row>
              <br />
              <row>
                <i-col span="5">
                  <div class="guide"> Package:</div>
                </i-col>
                <i-col span="19">
                  <radio-group v-model="button_pkg" type="button" size="large">
                    <radio label="Conda(Stable)"></radio>
                    <radio label="Pip(Stable)"></radio>
                    <radio label="Pip(Nightly Build)"></radio>
                  </radio-group>
                </i-col>
              </row>
              <br>
              <row>
                <i-col span="5">
                  <div class="guide"> Your OS:</div>
                </i-col>
                <i-col span="19">
                  <radio-group v-model="button_os" type="button" size="large">
                    <radio label="Linux"></radio>
                    <radio label="Windows"></radio>
                    <radio label="Mac"></radio>
                  </radio-group>
                </i-col>
              </row>
              <br>
              <row>
                <i-col span="5">
                  <div> Python Version:</div>
                </i-col>
                <i-col span="19">
                  <radio-group v-model="button_python" type="button" size="large">
                    <radio label="3.6"></radio>
                    <radio label="3.7"></radio>
                    <radio label="3.8"></radio>
                  </radio-group>
                </i-col>
              </row>
              <br><br>
              <row>
                <i-col span="5">
                  <div> Run this:</div>
                </i-col>
                <i-col span="19">
                  <i-input v-model="path_value" type="textarea" :autosize="true" style="width: 100%"
                    class="vertical-center" readonly />
                </i-col>
              </row>

            </div>

            <div>
              <h2 id="paper-table">Papers using DGL</h2>
              <div style="margin-bottom: 10px;">
                <multiselect v-model="value" :options="options" :close-on-select="false" :clear-on-select="false"
                  :multiple="true" :hide-selected="true" :preserve-search="true" placeholder="Pick some" label="name"
                  track-by="name" :preselect-first="false" id="multiselect-paper" @input="onChange">
                </multiselect>
              </div>
              <!-- <select id="dropdown" multiple="multiple"> -->
              <!-- </select> -->

              <table id="table" class="display" cellspacing="0" width="100%">
              </table>
            </div>
            <!-- End install cmd app -->
            <div class="blog-content-desc">
              <p>{{ content }}</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


</section>


<script>
  // Run after the Document DOM tree is constructed
  $(document).ready(function () { // or shorthand of $( function () { 
    // Your jQuery scripts here!
    $.get("/assets/README.md", function (data) {
      var text = data;
      /* console.log(text);  */
      /* document.write(text); */

      /* get the nth capturing group for each match: */
      function getMatches(string, regex, index) {
        index || (index = 1); // default to the first capturing group
        var matches = [];
        var match;
        while (match = regex.exec(string)) {
          matches.push(match[index]);
        }
        return matches;
      }

      //Match or replace using some regex
      const tags_regex = /\b(Tags:\s)(.*)/g;
      var tags = getMatches(data, tags_regex, 2);
      /* console.log(tags);  */

      // get all current tags
      var all_tags = new Set();
      for (var i = 0; i < tags.length; i++) {
        var subtags = tags[i].split(", ");

        for (var j = 0; j < subtags.length; j++) {
          all_tags.add(subtags[j].trim().toLowerCase());
        }
      }
      var tag_lists = []
      for (let item of all_tags) {
        tag_lists.push({ "name": item })
      };


      const papers_regex = /(<a\s)(.*)(\.\s\[Paper)/g;
      var papers = getMatches(data, papers_regex, 2);
      var paper_lists = []
      for (let paper of papers) {
        var anchor = paper.split("\"")[1]
        var paper_title = paper.split(".")[1].trim()
        paper_lists.push({ "title": paper_title, "anchor": anchor })
      }
      /* console.log(papers); */
      /*  document.write(papers);  */
      function to_anchor_link(title, anchor) {
        return "<a href=\"https://github.com/dmlc/dgl/blob/master/examples/README.md#" + anchor + "\">" + title + "</a>";
      }
      // Create a obj list where each obj is a matching of the Title and Tags
      var obj = [];
      for (var i = 0; i < paper_lists.length; i++) {
        obj.push({
          "Title": to_anchor_link(paper_lists[i]["title"], paper_lists[i]["anchor"]),
          "Tags": tags[i]
        });
      }
      /* console.log(obj); */

      // Just and example of building a dataTable from json
      // Without Search **fully** enabled
      var table = $('#table').DataTable({
        data: obj,
        columns: Object.keys(obj[0]).map(function (item) {
          return {
            data: item,
            title: item
          }
        })
      },
        {
          responsive: true,
          paginate: false,
          info: false
        }
      )


      var multiselect = new Vue({
        components: {
          Multiselect: window.VueMultiselect.default
        },
        data: {
          value: [],
          options: tag_lists
        },
        methods: {
          // customLabel (option) {
          //   return `${option.library} - ${option.language}`
          // },
          onChange(option, id) {
            var selected = [];
            for (var i = 0; i < this.value.length; i++) {
              selected.push(this.value[i]["name"])
            }
            // var regex = selected.join("|");
            // console.log(regex)
            if (selected.length == 0) {
              $.fn.dataTable.ext.search = []
            } else {
              $.fn.dataTable.ext.search = [function (settings, data, dataIndex) {
                var value = data[1]
                for (var i = 0; i < selected.length; i++) {
                  if (!value.toLowerCase().includes(selected[i].toLowerCase())) {
                    return false
                  }
                }
                return true
              }]
            }
            $('#table').DataTable().draw();
          }
        }
      }).$mount('#multiselect-paper')
    });

  });

</script>


<style type="text/css" scoped>
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .ivu-radio-wrapper {
    text-align: center;
    width: 150px;
  }

  .ivu-col {
    height: 50px;
    line-height: 50px;
  }

  .ivu-input {
    background: #f0faff;
    padding: 10px;
    resize: none;
  }
</style>

<script>
  Vue.component('vue-multiselect', window.VueMultiselect.default)
  function pip_path_cuda(_build_dir, _pkg) {
    var build_dir = {
      '9.2': '-cu92',
      '10.0': '-cu100',
      '10.1': '-cu101',
      '10.2': '-cu102',
      '11.0': '-cu110',
      'None': '',
    }[_build_dir];
    var pre_str = "";
    if (_pkg == 'Pip(Nightly Build)') {
      pre_str = " --pre"
    }

    return "pip install" + pre_str + " dgl" + build_dir
  }

  function conda_path(cuda) {
    var link_dict = {
      'None': 'conda install -c dglteam dgl',
      '9.2': 'conda install -c dglteam dgl-cuda9.2',
      '10.0': 'conda install -c dglteam dgl-cuda10.0',
      '10.1': 'conda install -c dglteam dgl-cuda10.1',
      '10.2': 'conda install -c dglteam dgl-cuda10.2',
      '11.0': 'conda install -c dglteam dgl-cuda11.0',
    };
    return link_dict[cuda]
  }


  var vm = new Vue({
    el: "#app",
    data: {
      button_cuda: 'None',
      button_os: 'Linux',
      button_python: '3.7',
      button_pkg: 'Conda(Stable)',
    },
    computed: {
      path_value: function () {
        if (this.button_os === 'Mac') {
          var cmd = (this.button_pkg === 'Conda(Stable)') ? conda_path('None') : "pip install dgl";
          if (this.button_pkg === 'Pip(Nightly Build)') {
            cmd += '\nMacOS binary does not have nightly build version. Install from source if needed.'
          }
          if (this.button_cuda !== 'None') {
            cmd += '\nMacOS binary does not support CUDA. Install from source if needed.'
          }
          return cmd
        } else {
          if (this.button_pkg === 'Conda(Stable)') {
            return conda_path(this.button_cuda)
          } else {
            if (this.button_os === 'Windows' && this.button_pkg === 'Pip(Nightly Build)') {
              return pip_path_cuda(this.button_cuda, 'Pip(Stable)') + "\nWindows binary does not have nightly build version. Install from source if needed."
            } else {
              return pip_path_cuda(this.button_cuda, this.button_pkg)
            }
          }
        }
      }
    }
  })
</script>
<!-- End Document Source Area -->