<div class="recent-news info-bg">
    <div class="container">
        <div class="news-wrapper owl-carousel owl-theme">
            {% for post in paginator.posts %}
            <div class="single-news">
            <div class="row">
                <div class="col-sm-6">
                  <h4 class="themeix-blog-h"><a href="{{post.url}}">{{post.title}}</a></h4>
                    <p>{{post.abstract | truncatewords: 30}}</p>
                </div>
                <div class="col-sm-6">
                    <a href="{{post.url}}"><img src="{{post.post_image}}" alt="blog-thumbnail"></a>
                </div>
            </div>
            </div>
            {% endfor %} 
        </div>
    </div>
</div>
