<!-- Our Team Member -->
<section class="team-member themeix-ptb">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="themeix-section-title text-center">
                    <h2>Our Team Members</h2>
                    <p>DGL is a developed by a truely geo-distributed team.</p>
                </div>
            </div>
        </div>
        <div class="team-member-wrapper owl-carousel owl-theme">
            <div class="item"><h4>1</h4></div>
            <div class="item"><h4>2</h4></div>
            <div class="item"><h4>3</h4></div>
            <div class="item"><h4>4</h4></div>
            <div class="item"><h4>5</h4></div>
            <div class="item"><h4>6</h4></div>
            <div class="item"><h4>7</h4></div>
            <div class="item"><h4>8</h4></div>
        </div>
        <!--
        <div class="team-member-wrapper owl-carousel">
            <div class="single-team wow zoomIn animated">
                <div class="team-member-img">
                    <a href="#"><img src="/assets/images/team1.jpg" alt="member"></a>
                    <div class="social-profile">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <h5><a href="#">Mr. John Doe</a></h5>
                <h6>CEO, Founder</h6>
            </div>
            <div class="single-team wow zoomIn animated">
                <div class="team-member-img">
                    <a href="#"><img src="/assets/images/team2.jpg" alt=""></a>
                    <div class="social-profile">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <h5><a href="#">Mr. John Doe</a></h5>
                <h6>CEO, Founder</h6>
            </div>
            <div class="single-team wow zoomIn animated">
                <div class="team-member-img">
                    <a href="#"><img src="/assets/images/team3.jpg" alt="member"></a>
                    <div class="social-profile">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <h5><a href="#">Mr. John Doe</a></h5>
                <h6>CEO, Founder</h6>
            </div>
            <div class="single-team wow zoomIn animated">
                <div class="team-member-img">
                    <a href="#"><img src="/assets/images/team4.jpg" alt="member"></a>
                    <div class="social-profile">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <h5><a href="#">Mr. John Doe</a></h5>
                <h6>CEO, Founder</h6>
            </div>
            <div class="single-team wow zoomIn animated">
                <div class="team-member-img">
                    <a href="#"> <img src="/assets/images/team2.jpg" alt="member"></a>
                    <div class="social-profile">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <h5><a href="#">Mr. John Doe</a></h5>
                <h6>CEO, Founder</h6>
            </div>
            <div class="single-team wow zoomIn animated">
                <div class="team-member-img">
                    <a href="#"><img src="/assets/images/team4.jpg" alt=""></a>
                    <div class="social-profile">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <h5><a href="#">Mr. John Doe</a></h5>
                <h6>CEO, Founder</h6>
            </div>
        </div>
        -->
    </div>
</section>
<!-- End Our Team Member -->
