<!-- Start Our History Area -->
<div class="our-history-area themeix-ptb info-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <div class="themeix-section-title text-center">
          <h2>Our History</h2>
          <p>How the journey started.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="timeline timeline-line-dotted">
        <span class="timeline-label">
          <span class="label label-primary">Spring.2018</span>
        </span>
        <div class="timeline-item">
          <div class="timeline-point timeline-point-success">
            <i class="fa fa-angle-double-down"></i>
          </div>
          <div class="timeline-event">
            <div class="timeline-heading">
              <h4>First Prototype</h4>
            </div>
            <div class="timeline-body">
              <p>Designed by Prof. Zheng Zhang and Quan Gan at NYU Shanghai.</p>
            </div>
          </div>
        </div>
        <span class="timeline-label">
          <span class="label label-primary">06.2018</span>
        </span>
        <div class="timeline-item">
          <div class="timeline-point timeline-point-success">
            <i class="fa fa-angle-double-down"></i>
          </div>
          <div class="timeline-event">
            <div class="timeline-heading">
              <h4>Serious Development Began</h4>
            </div>
            <div class="timeline-body">
              <p>When Minjie, Lingfan, and Prof. Jinyang Li from NYU's
              system group joined, flanked by a team of student volunteers at NYU Shanghai and Fudan.</p>
            </div>
          </div>
        </div>
        <span class="timeline-label">
          <span class="label label-primary">09.2018</span>
        </span>
        <div class="timeline-item">
          <div class="timeline-point timeline-point-success">
            <i class="fa fa-angle-double-down"></i>
          </div>
          <div class="timeline-event">
            <div class="timeline-heading">
              <h4>Development with Industry Team</h4>
            </div>
            <div class="timeline-body">
              <p>With AWS MXNet Science team including Da Zheng, Alex Smola, Haibin Lin,
              Chao Ma and a number of others.</p>
            </div>
          </div>
        </div>
        <span class="timeline-label">
          <span class="label label-primary">12.07.2018</span>
        </span>
        <div class="timeline-item">
          <div class="timeline-point timeline-point-success">
            <i class="fa fa-angle-double-down"></i>
          </div>
          <div class="timeline-event">
            <div class="timeline-heading">
              <h4>v0.1 Release</h4>
            </div>
            <div class="timeline-body">
              <p>First open release.</p>
            </div>
          </div>
        </div>
        <span class="timeline-label">
          <span class="label label-primary"><a href="https://github.com/dmlc/dgl/releases">More Releases</a><span>
        </span>
      </div>
    </div>
  </div>
</div>
<!-- End Our History Area -->
