<div class="popular-questions"> 
<h2 class="widget-title">Popular Questions</h2>
<ul>

    {% assign data = site.category_one | reverse %}

    {% for topics in data limit: "2" %}
     <li><a href="{{topics.url}}">{{topics.question}}</a></li>
    {% endfor %}

    {% assign data2 = site.category_two | reverse %}
    {% for topics in data2 limit: "2" %}
     <li><a href="{{topics.url}}">{{topics.question}}</a></li>
    {% endfor %}

    {% assign data3 = site.category_three | reverse %}
    {% for topics in data3 limit: "2" %}
     <li><a href="{{topics.url}}">{{topics.question}}</a></li>
    {% endfor %}

    {% assign data4 = site.category_four %}
    {% for topics in data4 limit: "2" %}
     <li><a href="{{topics.url}}">{{topics.question}}</a></li>
    {% endfor %}

 </ul>
</div>