    <!-- Start Slider Area -->
    <div class="slider-area">
        <div class="container-fluid">
            <div class="row">
                <div class="slider-wrapper-2">
                   <div id="particles-js">
                   <div class="slider-fixed-text">
                       <h1>Deep Graph Library</h1>
                       <p>Easy Deep Learning on Graphs</p>
                         <div class="slider-buttons">
                            <a href="/pages/updates.html" class="themeix-btn white-bg">Latest Updates</a>
                            <a href="https://docs.dgl.ai/#get-started" class="themeix-btn primary-bg">Get Started</a>
                        </div>
                   </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Slider Area -->
