<!-- Testimonials -->
<section class="testimonials-section themeix-ptb">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="themeix-section-title text-center">
                    <h2>What People Are Saying ...</h2>
                    <p></p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="testimonials-wrapper owl-carousel">
                    <div class="single-testimonial wow zoomIn animated">
                        <div class="testimonial-info">
                            <p>Brought to you by NYU, NYU-Shanghai, and Amazon AWS.</p>
                        </div>
                        <div class="testimonial-author">
                            <h5>Yann LeCun</h5>
                            <span>NYU Professor, Director of Facebook AI Lab</span>
                        </div>
                    </div>
                    <div class="single-testimonial wow zoomIn animated">
                        <div class="testimonial-info">
                            <p>By far the cleanest and most elegant library for graph neural networks in PyTorch. Highly recommended! Unifies Capsule Nets (GNNs on bipartite graphs)
                            and Transformers (GCNs with attention on fully-connected graphs) in a single API.</p>
                        </div>
                        <div class="testimonial-author">
                            <h5>Thomas Kipf</h5>
                            <span>Inventor of Graph Convolutional Network</span>
                        </div>
                    </div>
                    <div class="single-testimonial wow zoomIn animated">
                        <div class="testimonial-info">
                            <p>I taught my students Deep Graph Library (DGL) in my lecture on "Graph Neural Networks" today. It is a great resource to develop GNNs with PyTorch.</p>
                        </div>
                        <div class="testimonial-author">
                            <h5>Xavier Bresson</h5>
                            <span>Associate Professor of NTU</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonials -->
