---
layout: blog_layout
title: 'Tag Page'
---
   {% include head.html %}
   {% include header.html %}
    <!-- Start Page Banner Area -->
    <div class="page-banner-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title">
                        <h2>Blog Details</h2>
                        <span class="sub-title"><a href="#">Home</a> / Blog Details</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Pages Banner Area -->
    <!-- Start Blog Area -->
    <section class="blog-area themeix-ptb">
        <div class="container">
            <div class="row">
                <!-- Start Blog Content -->
                <div class="col-md-9">
                    <div class="blog-wrapper">
            
                        <div class="single-blog-details">
                            <div class="blog-img">
                                <img src="{{page.post_image}}" alt="blog">
                            </div>
                            <div class="blog-content-desc">
                                <h4 class="themeix-blog-h">{{page.title}}</h4>
                                <p>{{page.content}}</p>
                                <div class="blog-post-date">
                                    <p>11 <span>May</span> </p>
                                </div>
                                <div class="tag-links mt-30">
                                    <div class="widget">
                                      <div class="tagcloud">
                                         {{ site | tag_cloud }}
                                      </div>
                                    </div>
                                    <div class="blog-data">
                                        <p>By <a href="#">Themeix</a> in <a href="#">Wordpress</a> </p>
                                    </div>
                                </div>
                                <!-- Leave a Comment -->
                                <div id="respond">
                                    <div class="comment-respond pb-50">
                                      <div id="disqus_thread"></div>
                                      {% include disqus_comments.html %}
                                    </div>
                                </div>
                                <!-- End Leave a Comment -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Blog Content -->
                <!-- Start Blog Sidebar -->
                <div class="col-md-3">
                    <div class="row">
                        <div class="blog-sidebar">
                            <div class="col-md-12 col-sm-6">
                                <aside id="dwqa-categories-2" class="widget widget_categories dwqa_widget dwqa_widget_categories sidebar-list">
                                 {% include categories.html %}
                                </aside>
                            </div>
                            <div class="col-md-12 col-sm-6">
                                <aside class="widget dwqa-widget dwqa-popular-question">
                                    <div class="sidebar-popular-post dwqa-popular-questions">
                                      {% include popular_questions.html %}
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Blog Sidebar -->
            </div>
        </div>
    </section>
    <!-- End Blog Area -->
    {% include call_to_action.html %}