---
layout: topics
---

{% include head.html %}
{% include header.html %}
    <!-- Start Page Banner Area -->
    <div class="page-banner-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title">
                        <h2>{{page.question}}</h2>
                        <span class="sub-title"><a href="{{site.url}}">Home </a> / Answer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Pages Banner Area -->
    <!-- Start Answers Area -->
    <div class="answers-area themeix-ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="answers-wrapper">
                        <div class="dwqa-single-question">
                            <div class="dwqa-breadcrumbs">
                                <a href="#">Questions</a>
                                <span class="dwqa-sep"> › </span>
                                <a href="#">Category : {{page.category_name}}</a>
                                <span class="dwqa-sep"> › </span>
                                <span class="dwqa-current">{{page.question}}</span>
                            </div>
                            <!-- Start Question Item -->
                            <div class="dwqa-question-item">
                                <div class="dwqa-question-meta">
                                    <span>
                                    <a href="#">
                                       <img class="avatar avatar-48 photo" alt="Author" src="/assets/images/author2.png">
                                    Vernon Dahmer
                                    </a>
                                    asked 1 year ago
                                    </span>
                                    <span class="dwqa-question-actions"></span>
                                </div>
                                <div class="dwqa-question-content">
                                    <p>{{page.question_desc}}</p>
                                </div>
                                <footer class="dwqa-question-footer">
                                    <div class="dwqa-question-meta"></div>
                                </footer>

                                <div class="dwqa-comments">
                                    <div class="dwqa-comments-list">

                                        <div class="dwqa-comment">
                                            <div class="dwqa-comment-meta">
                                                <a href="#"><img alt="author" src="/assets/images/author2.png" />Shan Judd</a>
                                                replied 1 year ago
                                                <div class="dwqa-comment-actions">
                                                </div>
                                            </div>
                                            <div class="answer-wrapper">
                                                <p>{{page.answer}}</p>
                                            </div>
                                        </div>
                                        <!-- #comment-## -->
                                    </div>
                                </div>
                            </div>
                            <!-- End Questions Ityem -->
                            <!-- User Comments -->
                            <div id="disqus_thread"></div>
								<script>

								/**
								*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
								*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
								/*
								var disqus_config = function () {
								this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
								this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
								};
								*/
								(function() { // DON'T EDIT BELOW THIS LINE
								var d = document, s = d.createElement('script');
								s.src = 'https://documenter-jekyll.disqus.com/embed.js';
								s.setAttribute('data-timestamp', +new Date());
								(d.head || d.body).appendChild(s);
								})();
								</script>
								<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
                        </div>
                    </div>
                </div>
                <!-- Start Blog Sidebar -->
                <div class="col-md-3">
                    <div class="row">
                        <div class="blog-sidebar">
                            <div class="col-md-12 col-sm-6">
                                <aside id="dwqa-categories-2" class="widget widget_categories dwqa_widget dwqa_widget_categories sidebar-list">
                                   {% include popular_questions.html %}
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Blog Sidebar -->
            </div>
        </div>
    </div>
    <!-- End Answers Area -->

{% include testimonials.html %}
{% include call_to_action.html %}
{% include footer.html %}


