---
layout: default
pagination:
  enabled: 
    true
---

   {% include slider.html %}
   {% include news_carousel.html %}
   {% include highlights.html %}
   {% include box_content.html %}

   {% comment %}
   {% include topics_content.html %}
   {% include faq_content.html %}
   {% include feature_content.html %}
   {% endcomment %}

   {% include testimonials.html %}
   {% include sponsors.html %}

   {% comment %}
   {% include brand_carousel.html %}
   {% include contact_form.html %}
   {% include call_to_action.html %}
   {% endcomment %}

