    <!-- Awards -->
    <div class="awards-section themeix-ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="single-awards owl-carousel">
                        <div><img src="{{site.baseurl}}/assets/images/client-1.png" alt="Awards"></div>
                        <div><img src="{{site.baseurl}}/assets/images/client-5.png" alt="Awards"></div>
                        <div><img src="{{site.baseurl}}/assets/images/client-3.png" alt="Awards"></div>
                        <div><img src="{{site.baseurl}}/assets/images/client-4.png" alt="Awards"></div>
                        <div><img src="{{site.baseurl}}/assets/images/client-5.png" alt="Awards"></div>
                        <div><img src="{{site.baseurl}}/assets/images/client-1.png" alt="Awards"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Awards -->