<body>
    <!-- Preloader starts-->
    <div class="preloader">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="object object_one"></div>
                <div class="object object_two"></div>
                <div class="object object_three"></div>
            </div>
        </div>
    </div>
    <!-- Preloader ends -->
    <!-- Start Header -->
    <header>
      {% include navigation.html %}
   </header>
    <!-- End Header -->