<!-- Start Our Community -->
<div class="our-community-area themeix-ptb">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="single-community">
                    <div class="icons"><i class="fa fa-plug"></i></div>
                    <h3>When Started</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standared and texting services here</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="single-community">
                    <div class="icons"><i class="fa fa-random"></i></div>
                    <h3>Work Continuously</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standared awesome for ecommerce and blog</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="single-community">
                    <div class="icons"><i class="fa fa-rocket"></i></div>
                    <h3>Work Continuously</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standared trying to be professional more.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Our Community -->