<div class="recent-updates-wrapper"> 
<h4 class="list-title">Recent Updates</h4>
<ul>
    <li>
        <a data-target="#update-one" data-toggle="modal" href="#update-one">Security and Maintenance Release</a><span>Documenter, Version : 2.1</span>
    </li>
    <li>
        <a data-target="#update-two" data-toggle="modal" href="#update-two">Special Monthly Updates - V 2.1</a><span>Documenter, Version : 2.1</span>
    </li>
    <li>
        <a data-target="#update-three" data-toggle="modal" href="#update-three">Jhon Security Updates - V 2.0</a><span>Documenter, Version : 2.1</span>
    </li>
    <li>
        <a data-target="#update-four" data-toggle="modal" href="#update-four">Prior Updates - V 1.1</a><span>Documenter, Version : 2.1</span>
    </li>
    <li>
        <a data-target="#update-five" data-toggle="modal" href="#update-five">Initial Release - V 1.0</a><span>Documenter, Version : 2.1</span>
    </li>
</ul>
<div class="modal fade" id="update-one">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-heading clearfix">
                <h3 class="modal-title">Security and Maintenance Release</h3>
            </div>
            <div class="modal-body clearfix">
                <div class="col-sm-6">
                    <h4 class="modal-subtitle">bug fixing list</h4>
                    <div class="bug-list">
                        <ul>
                            <li>editing navigation section.</li>
                            <li>Another navigation section.</li>
                            <li>editing aalternative section.</li>
                            <li>editing navigation testing.</li>
                            <li>Warning navigation section.</li>
                            <li>Dangerousnavigation section.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h4 class="modal-subtitle">Adding New Features</h4>
                    <div class="update-list">
                        <ul>
                            <li>Adding Interactive Google Map</li>
                            <li>Adding Responsive Mobile Menu</li>
                            <li>Adding Scroll to Top Buttons</li>
                            <li>Changing Preloader Effects</li>
                            <li>Bootstrap Tab Panel</li>
                            <li>Bootstrap Tab Panel</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer clearfix">
                <a class="themeix-btn hover-bg" href="/pages/updates.html">view Details</a> <button class="themeix-btn danger-bg" data-dismiss="modal" type="button">close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="update-two">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-heading clearfix">
                <h3 class="modal-title">Special Monthly Updates</h3>
            </div>
            <div class="modal-body clearfix">

                <div class="col-sm-12">
                    <h4 class="modal-subtitle">Adding New Features</h4>
                    <div class="update-list">
                        <ul>
                            <li>Adding Interactive Google Map</li>
                            <li>Adding Responsive Mobile Menu</li>
                            <li>Adding Scroll to Top Buttons</li>
                            <li>Changing Preloader Effects</li>
                            <li>Bootstrap Tab Panel</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer clearfix">
                <a class="themeix-btn hover-bg" href="/pages/updates.html">view Details</a> <button class="themeix-btn danger-bg" data-dismiss="modal" type="button">close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="update-three">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-heading clearfix">
                <h3 class="modal-title">Prior Updates</h3>
            </div>
            <div class="modal-body clearfix">
                <div class="col-sm-12">
                    <h4 class="modal-subtitle">bug fixing list</h4>
                    <div class="bug-list">
                        <ul>
                            <li>Aditing navigation section.</li>
                            <li>Paduso navigation section.</li>
                            <li>Tawiosw uretsssf section.</li>
                            <li>Aditing navigation section.</li>
                            <li>Aditing navigation section.</li>
                            <li>Aditing navigation section.</li>
                            <li>Aditing navigation section.</li>
                            <li>Aditing navigation section.</li>
                            <li>Tan olive section.</li>
                            <li>Aditing navigation Faiule.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer clearfix">
                <a class="themeix-btn hover-bg" href="/pages/updates.html">view Details</a> <button class="themeix-btn danger-bg" data-dismiss="modal" type="button">close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="update-four">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-heading clearfix">
                <h3 class="modal-title">Special Monthly Updates</h3>
            </div>
            <div class="modal-body clearfix">
                <div class="col-sm-6">
                    <h4 class="modal-subtitle">bug fixing list</h4>
                    <div class="bug-list">
                        <ul>
                            <li>editing navigation section.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur.</li>
                            <li>Lorem ipsum dolor sit.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h4 class="modal-subtitle">Adding New Features</h4>
                    <div class="update-list">
                        <ul>
                            <li>Adding Interactive Google Map</li>
                            <li>Adding Responsive Mobile Menu</li>
                            <li>Adding Scroll to Top Buttons</li>
                            <li>Changing Preloader Effects</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer clearfix">
                <a class="themeix-btn hover-bg" href="/pages/updates.html">view Details</a> <button class="themeix-btn danger-bg" data-dismiss="modal" type="button">close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="update-five">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-heading clearfix">
                <h3 class="modal-title">Initial Release</h3>
            </div>
            <div class="modal-body clearfix">
                <div class="col-sm-6">
                    <h4 class="modal-subtitle">bug fixing list</h4>
                    <div class="bug-list">
                        <ul>
                            <li>editing navigation section.</li>
                            <li>editing navigation section.</li>
                            <li>editing navigation section.</li>
                            <li>editing navigation section.</li>
                            <li>editing navigation section.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h4 class="modal-subtitle">Adding New Features</h4>
                    <div class="update-list">
                        <ul>
                            <li>Adding Interactive Google Map</li>
                            <li>Adding Responsive Mobile Menu</li>
                            <li>Adding Scroll to Top Buttons</li>
                            <li>Changing Preloader Effects</li>
                            <li>Bootstrap Tab Panel</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer clearfix">
                <a class="themeix-btn hover-bg" href="/pages/updates.html">view Details</a> <button class="themeix-btn danger-bg" data-dismiss="modal" type="button">close</button>
            </div>
        </div>
    </div>
  </div>
</div>

