    <!-- Start Topics Section Area -->
    <section>
        <div class="topics-section-area themeix-ptb">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-9">
                        <!-- Start Topics Link Area -->
                        <div class="topics-links">
                            <div class="themeix-section-title">
                                <h2>Explore Topics</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                            </div>
                            <div class="row">
                               <!-- Start Category One -->
                                <div class="col-md-6">
                                    <div class="single-links">
                                     {% assign category = site.category_one | map: "category_name" | uniq %}
                                     {% for cat_name in category limit: "1" %}
                                      <h4 class="list-title">{{cat_name}}</h4>
                                      {% endfor %}
                                        <ul>
                                        {% for q in  site.category_one %}
                                          <li><a href="{{q.url}}">{{q.question}}</a></li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                               <!-- End Category One -->

                               <!-- Start Category Two -->
                                <div class="col-md-6">
                                    <div class="single-links">
                                     {% assign category = site.category_two | map: "category_name" | uniq %}
                                     {% for cat_name in category limit: "1" %}
                                      <h4 class="list-title">{{cat_name}}</h4>
                                      {% endfor %}
                                        <ul>
                                        {% for q in  site.category_two %}
                                          <li><a href="{{q.url}}">{{q.question}}</a></li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                               <!-- End Category Two -->

                               <!-- Start Category Three -->
                                <div class="col-md-6">
                                    <div class="single-links">
                                     {% assign category = site.category_three | map: "category_name" | uniq %}
                                     {% for cat_name in category limit: "1" %}
                                      <h4 class="list-title">{{cat_name}}</h4>
                                      {% endfor %}
                                        <ul>
                                        {% for q in  site.category_three %}
                                          <li><a href="{{q.url}}">{{q.question}}</a></li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                               <!-- End Category Three -->

                               <!-- Start Category Four -->
                                <div class="col-md-6">
                                    <div class="single-links">
                                     {% assign category = site.category_four | map: "category_name" | uniq %}
                                     {% for cat_name in category limit: "1" %}
                                      <h4 class="list-title">{{cat_name}}</h4>
                                      {% endfor %}
                                        <ul>
                                        {% for q in  site.category_four %}
                                          <li><a href="{{q.url}}">{{q.question}}</a></li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                               <!-- End Category Four -->

                            </div>
                            <div class="themeix-section-title"> 
                             <div class="topics-btn">
                                <a href="/pages/questions.html" class="themeix-btn hover-bg">See All Topics</a>
                             </div>
                         </div>
                        </div>
                        <!-- End Topics Link Area -->
                    </div>
                    <!--Start Sidebar -->
                    <div class="col-sm-4 col-md-3">
                      <div class="sidebar-list">
                         {% include recent_updated.html %}
                        </div>
                        <div class="sidebar-list">
                           
                        </div>
                    </div>
                    <!--End Sidebar -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Topics Section Area -->