/* Medium Layout: 1280px. */



@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .nav > li > a {
        padding: 10px 5px;
    }
    .nivoSlider img {
        height: 100% !important;
    }
    .nivo-main-image {
        height: 100% !important;
    }
    .slider-wrapper .nivo-caption h2 {
        font-size: 27px;
        font-weight: 400;
        line-height: 35px;
    }
    .update-box .update-version span {
        right: 60px;
    }
}
/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.mainmenu .top-menu>nav {
    text-align: center;
}
.mainmenu .top-menuul.dropdown {
  text-align: left;	
	
}
.mainmenu .top-menu nav>.navbar-nav {
    margin: 0 auto;
    float: none;
    display: inline-block;
margin-bottom: -7px;	
}
    .themeix-ptb {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .mainmenu .navbar-right {
        float: none !important;
    }
    .header-logo {
        text-align: center;
    }
    .slider-wrapper .nivoSlider img {
        height: 100% !important;
    }
    .slider-wrapper .nivo-main-image {
        height: 100% !important;
    }
    .slider-wrapper .nivo-caption h2 {
        font-size: 27px;
        font-weight: 400;
        line-height: 35px;
    }
    .live-chat {
        text-align: center;
    }
    .purchase-link.text-right {
        text-align: center;
    }
    .topics-btn {
        margin-bottom: 25px;
    }
    .themeix-panel .panel-title a {
        font-size: 14px;
    }
    .themeix-panel .panel-title a.collapsed:after {
        font-size: 12px;
    }
    .sidebar-popular-post {
        margin-bottom: 30px;
    }
    .contact-section .contact-form {
        margin-top: 0;
    }
    .blog-sidebar .sidebar-list h2.widget-title {
        padding-top: 30px;
    }
    .single-footer {
        margin-bottom: 30px;
    }
    .dwqa-questions-footer {
        margin-bottom: 40px;
    }
    .dwqa-question-item .dwqa-question-title {
        white-space: normal;
    }
    .update-box .update-version span {
        right: 80px;
    }
    .box-flip .flip-box-innner {
        padding:30px 10px;
    }
    .box-flip .flip-box-innner p {
        font-size:14px;
    }
    /* Timeline */
    
    .slider-fixed-text h1 {
        font-size:40px;
    }
    .slider-fixed-text p {
        max-width:80%;
    }
    .mainmenu .navbar-nav > li > a {
        padding-left:12px;
    }
    .mainmenu .navbar-nav > li > a > span {
        font-size:11px;
    }
    .mainmenu .navbar-nav > li > a {
        padding:18px 10px 18px;
    }
}
/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
	.mainmenu {
    display: none;
}
    .mainmenu-wrapper .header-logo {
padding-top: 65px;
    text-align: center;
    padding-bottom: 20px;
    }
    .mean-container .mean-bar {
        position: absolute;
        top: 0px;
    }

    .slider-wrapper .nivoSlider img {
        height: 100% !important;
    }

    .slider-wrapper .nivo-main-image {
        height: 100% !important;
    }
    .slider-wrapper .caption-inner h2 {
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
    }
    .caption-inner P {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }


    .slider-wrapper .caption-inner h2 {
        font-size:22px;
    }
    .slider-wrapper .slider-buttons {
        display: none;
    }
    .nivo-directionNav a.nivo-prevNav {
        left: 15px;
    }
    .nivo-directionNav a.nivo-nextvNav {
        right: 15px;
    }
    .document-source-area .single-box {
        margin-bottom: 20px;
    }
    .topics-btn a {
        margin-bottom: 10px;
    }
    .awards-section .owl-carousel .owl-item img {
        padding: 0 10px;
    }
    .blog-sidebar .sidebar-list h2.widget-title {
        padding-top: 30px;
    }
    .dwqa-question-filter select {
        font-size: 14px;
        padding-left: 5px;
    }
    .single-footer {
        margin-bottom: 30px;
    }
    .purchase-link.text-right {
        text-align: center;
    }
    .contact-form button[type="submit"] {
        margin: 10px 0 30px;
    }
    .dwqa-questions-list .dwqa-question-item .dwqa-question-stats {
        display: none;
    }
    .dwqa-questions-archive .dwqa-questions-list .dwqa-question-item {
        padding: 10px 0 10px 60px;
    }
    .dwqa-question-title {
        white-space: normal
    }
    .dwqa-question-title a {
        font-size: 14px;
    }
    .dwqa-question-meta > span a {
        font-size: 12px;
    }
    .update-box .update-version span {
        right: 45px;
    }
    .dwqa-question-filter {
        padding-top: 15px;
    }
    .dwqa-question-filter select {
        margin-top: 5px;
        height: 30px;
    }
    .dwqa-question-filter .dwqa-sort-by:after {
        top: 10px;
    }
    .question-area.themeix-ptb {
        padding-top: 50px;
    }
    .call-to-action-area {
        text-align: center;
    }
    .our-history-area .timeline.timeline .timeline-item .timeline-event {
        display: inline-block;
        right: 20px;
        width: 90%;
    }

    /* Timeline */

    .timeline.timeline {
        width: 100%;
        max-width: 100%;
    }
    .timeline.timeline .timeline-item {
        padding-left: 72px;
        padding-right: 0;
    }
    .timeline.timeline .timeline-item.timeline-item-right,
    .timeline.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) {
        padding-left: 72px;
        padding-right: 0;
    }
    .timeline.timeline .timeline-item .timeline-event {
        width: 100%;
    }
    .timeline.timeline:before {
        left: 42px;
        width: 0;
        margin-left: -1px;
    }
    .timeline.timeline .timeline-item {
        width: 100%;
        margin-bottom: 20px;
    }
    .timeline.timeline .timeline-item:nth-of-type(even) {
        margin-top: 0;
    }
    .timeline.timeline .timeline-item.timeline-item-left + .timeline-item:not(.timeline-item-left):not(.timeline-item-right),
    .timeline.timeline .timeline-item.timeline-item-right + .timeline-item:not(.timeline-item-left):not(.timeline-item-right) {
        margin-top: 0;
    }
    .timeline.timeline .timeline-item.timeline-item-left + .timeline-item:not(.timeline-item-left):not(.timeline-item-right) + .timeline-item:not(.timeline-item-left):not(.timeline-item-right),
    .timeline.timeline .timeline-item.timeline-item-right + .timeline-item:not(.timeline-item-left):not(.timeline-item-right) + .timeline-item:not(.timeline-item-left):not(.timeline-item-right) {
        margin-top: 0;
    }
    .timeline.timeline .timeline-item > .timeline-event {
        float: right !important;
    }
    .timeline.timeline .timeline-item > .timeline-event:before,
    .timeline.timeline .timeline-item > .timeline-event:after {
        right: auto !important;
        border-left-width: 0 !important;
    }
    .timeline.timeline .timeline-item > .timeline-event:before {
        left: -15px !important;
        border-right-width: 15px !important;
    }
    .timeline.timeline .timeline-item > .timeline-event:after {
        left: -14px !important;
        border-right-width: 14px !important;
    }
    .timeline.timeline .timeline-item > .timeline-point {
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        left: 42px !important;
        margin-left: 0;
    }
    .timeline.timeline .timeline-label {
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        margin: 0 0 20px 42px;
    }
    .timeline.timeline .timeline-label + .timeline-item:not(.timeline-item-left):not(.timeline-item-right) {
        margin-top: 0;
    }
    .timeline.timeline .timeline-label + .timeline-item:not(.timeline-item-left):not(.timeline-item-right) + .timeline-item:not(.timeline-item-left):not(.timeline-item-right) {
        margin-top: 0;
    }
    .live-chat.right {
        float:none;
        margin:0 auto;
    }
 /** index-2 slider **/
     .slider-wrapper {
        height:350px;
     }

    /*** index-1 slider */
    .slider-wrapper-2 {
      height: 350px;
      text-align: center;
    }
    .slider-fixed-text p {
        display:none;
    }
    .slider-wrapper-2 .slider-fixed-text h1 {
        font-size:25px;
    }
    .slider-fixed-text .slider-buttons a {
        margin-bottom:10px;
    }
    /*** index-3 slider **/

    #partical-js {
    height: 370px;
}
.slider-fixed-text h1 {
    font-size:25px;
}

.update-box {
  max-width: 450px;
  margin:0 auto;
  margin-bottom:30px;
}
.modal-dialog {
    width:60%;
    margin:40px auto;
}

}

@media (max-width: 991px) {
    .slide-text h1 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .slide-text > p {

        font-size: 18px;
    }
.slide-text {
    left: 0;
    top: 25%;
    max-width: 768px;
    padding: 0;
}	
}


/*---------- MEDIA 480px ----------*/
@media  (max-width: 768px) {
    .slide-text {
        padding: 10px 50px;
    }
    .slide-text h1 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .slide-text > p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .control-round .carousel-control{
        display: none;
    }

}
@media  (max-width: 480px) {
    .slide-text {
        padding: 10px 30px;
    }
    .slide-text h1 {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 5px;
    }
    .slide-text > p {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 10px;
    }
    .slide-text > a.btn-default, 
    .slide-text > a.btn-primary {
        font-size: 10px;
        line-height: 10px;
        margin-right: 10px;
        text-align: center;
        padding: 10px 15px;
    }
    .indicators-line > .carousel-indicators{
        display: none;
    }

}



