---
layout: page
title: questions
sub_title: All Questions
navigation: false
---
    {% include page_banner.html %}
    <!-- Start Questions Area -->
    <div class="question-area themeix-ptb">
        <div class="container">
            <div class="row">
                <!-- Start Question -->
                <div class="col-md-9">
                    <div class="questions-wrapper">
                        <div class="dwqa-container">
                            <div class="dwqa-questions-archive">
                                <div class="dwqa-questions-list">
                                   {% for topics in site.category_one %}
                                    <div class="dwqa-question-item dwqa-sticky">
                                        <header class="dwqa-question-title">
                                            <a href="{{topics.url}}">{{topics.question}}</a>
                                        </header>
                                        <div class="dwqa-question-meta">
                                            <span class="dwqa-status dwqa-status-open" title="Open">Open</span>
                                            <span><strong>{{topics.author}}</strong> answered 1 year ago</span>
                                            <span class="dwqa-question-category"> • <strong>{{topics.category_name}}</strong></span>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% for topics in site.category_two %}
                                    <div class="dwqa-question-item">
                                        <header class="dwqa-question-title">
                                            <a href="{{topics.url}}">{{topics.question}}</a>
                                        </header>
                                        <div class="dwqa-question-meta">
                                            <span class="dwqa-status dwqa-status-answered" title="Open">Open</span>
                                            <span><strong>{{topics.author}}</strong> answered 1 year ago</span>
                                            <span class="dwqa-question-category"> • <strong>{{topics.category_name}}</strong></span>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% for topics in site.category_three %}
                                    <div class="dwqa-question-item">
                                        <header class="dwqa-question-title">
                                            <a href="{{topics.url}}">{{topics.question}}</a>
                                        </header>
                                        <div class="dwqa-question-meta">
                                            <span class="dwqa-status dwqa-status-answered" title="answered">Answered</span>
                                            <span><strong>{{topics.author}}</strong> answered 1 year ago</span>
                                            <span class="dwqa-question-category"> • <strong>{{topics.category_name}}</strong></span>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% for topics in site.category_four %}
                                    <div class="dwqa-question-item">
                                        <header class="dwqa-question-title">
                                            <a href="{{topics.url}}">{{topics.question}}</a>
                                        </header>
                                        <div class="dwqa-question-meta">
                                            <span class="dwqa-status dwqa-status-resolved" title="resolved">Resolved</span>
                                            <span><strong>{{topics.author}}</strong> answered 1 year ago</span>
                                            <span class="dwqa-question-category"> • <strong>{{topics.category_name}}</strong></span>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Question -->
                <!-- Start Blog Sidebar -->
                <div class="col-md-3">
                    <div class="row">
                        <div class="blog-sidebar">

                            <div class="col-md-12 col-sm-6">
                                <aside class="widget dwqa-widget dwqa-popular-question">
                                  {% include popular_questions.html %}
                                </aside>
                            </div>
                            <div class="col-md-12 col-sm-6">
                                {% include twitter_widgets.html%}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Blog Sidebar -->
            </div>
        </div>
    </div>
    <!-- End  Questions Area -->
    <!-- Testimonials -->
    <section class="testimonials-section themeix-ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="themeix-section-title text-center">
                        <h2>What Our Happy Customer Says</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="testimonials-wrapper owl-carousel">
                        <div class="single-testimonial wow zoomIn animated">
                            <div class="testimonial-info">
                                <p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsu liquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum.</p>
                            </div>
                            <div class="testimonial-author">
                                <h5>John Doe</h5>
                                <span>E-Commerce Businessmen</span>
                            </div>
                        </div>
                        <div class="single-testimonial wow zoomIn animated">
                            <div class="testimonial-info">
                                <p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsu liquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum.</p>
                            </div>
                            <div class="testimonial-author">
                                <h5>Mr. James</h5>
                                <span>Web Designer & SEO Expert</span>
                            </div>
                        </div>
                        <div class="single-testimonial wow zoomIn animated">
                            <div class="testimonial-info">
                                <p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsu liquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum.</p>
                            </div>
                            <div class="testimonial-author">
                                <h5>John Doe</h5>
                                <span>E-Commerce Businessmen</span>
                            </div>
                        </div>
                        <div class="single-testimonial wow zoomIn animated">
                            <div class="testimonial-info">
                                <p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsu liquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum.</p>
                            </div>
                            <div class="testimonial-author">
                                <h5>Mr. James</h5>
                                <span>Web Designer & SEO Expert</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Testimonials -->
    <!-- Start Call To Action Area -->
    <div class="call-to-action-area hover-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="action-content">
                        <h2>Do you want to get the latest version documenter?</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="purchase-link text-right">
                        <a href="login.html" class="themeix-purchase-btn-3">purchase now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Call To Action Area -->
