<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Library for deep learning on graphs">
    <meta name="keywords" content="Software, Machine Learning, Deep Learning, Neural Network, Graph">
    <meta name="author" content="Themeix">

    <!-- Site Title -->
    <title>Deep Graph Library</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/dgl-favicon.png">

    <!-- IView CSS -->
    <link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">

    <!-- Bootstrap CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font-Awesome CSS -->
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="/assets/css/googlefont.css" rel="stylesheet"> 

    <!-- Animate CSS -->
    <link rel="stylesheet" href="/assets/css/animate.min.css">

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
    <!--<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">-->

    <!-- Mean Menu CSS -->
    <link rel="stylesheet" href="/assets/css/meanmenu.min.css">

    <!-- Main Stylesheet -->
    <link href="/assets/css/style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="/assets/css/responsive.css" rel="stylesheet">

    <!-- Minima CSS -->
    <link href="/assets/main.css" rel="stylesheet">

    <!-- Rouge Highlighter CSS -->
    <link href="/assets/css/syntax.css" rel="stylesheet">

    <link type="application/atom+xml" rel="alternate" href="https://www.dgl.ai/feed.xml" title="Deep Graph Library" />

    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132455605-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-132455605-1');
</script>

    
</head>
  
<body>
    <!-- Preloader starts-->
    <div class="preloader">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="object object_one"></div>
                <div class="object object_two"></div>
                <div class="object object_three"></div>
            </div>
        </div>
    </div>
    <!-- Preloader ends -->
    <!-- Start Header -->
    <header>
      <!-- Start Mainmenu -->
<div class="menu-area navbar-fixed-top ">
    <div class="container">
        <div class="row">
            <div class="mainmenu-wrapper">
                <!-- Start Header Logo -->
                <div class="col-xs-12 col-md-3">
                    <div class="header-logo">
                        <a href="https://www.dgl.ai"><img src="/assets/images/logo.png" alt="logo"></a>
                    </div>
                </div>
                <!-- End Header Logo -->
                <!-- Start Navigation -->
                <div class="col-xs-12 col-md-9">
                    <div class="mainmenu">
                        <div class="navbar navbar-right">
                            <div class="navbar-header visible-xs">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="collapse navbar-collapse top-menu">

                           <!--  Static Dropdown Menu 

                                <nav>
                                    <ul class="nav navbar-nav">
                                        <li class="active"><a href="https://www.dgl.ai">Home<span>Get everything</span></a>
                                           <ul class="dropdown">
                                               <li><a href="index.html">Home Version 1</a></li>
                                               <li><a href="index-2.html">Home Version 2</a></li>
                                           </ul>                                                
                                        </li>
                                        <li><a href="about-us.html">About<span>Know about us</span></a></li>                                
                                        <li><a href="questions.html">Questions<span>Ask Your Question</span></a>
                                            <ul class="dropdown">
                                                <li>
                                                    <a href="questions.html"> <span><i class="fa fa-question-circle"></i></span>All Questions</a>
                                                </li>                                                       
                                                <li><a href="ask-question.html"><span><i class="fa  fa-question-circle-o"></i></span>Ask Questions</a></li>
                                                <li><a href="answers.html"><span><i class="fa fa-reply-all"></i></span>Answers</a></li>
                                                <li><a href="login.html"><span><i class="fa fa-sign-in"></i></span>Login</a></li>
                                                <li><a href="register.html"><span><i class="fa fa-registered"></i></span>Register</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Pages<span>See All Pages</span></a>
                                           <ul class="dropdown">
                                               <li><a href="index-2.html">Home 2</a></li>
                                               <li><a href="blog.html">Blog</a></li>
                                               <li><a href="blog-details.html">Blog Details</a></li>
                                               <li><a href="questions.html">Questions</a></li>
                                               <li><a href="answers.html">Answers</a></li>
                                               <li><a href="updates.html">Updates</a></li>
                                               <li><a href="contact.html">Contact</a></li>
                                               <li><a href="left-sidebar.html">Left Sidebar</a></li>
                                               <li><a href="right-sidebar.html">Right Sidebar</a></li>
                                               <li><a href="login.html">login</a></li>
                                               <li><a href="register.html">Register</a></li>
                                               <li><a href="404.html">404</a></li>
                                           </ul>
                                        </li>
                                        <li><a href="blog.html">Blog<span>All Blog Posts</span></a></li>
                                        <li><a href="updates.html">Updates<span>Latest releases</span></a></li>
                                        <li><a href="contact.html">Contact<span>Let us contact</span></a></li>
                                    </ul>
                                </nav> 

                                End Static Dropdown Menu -->

                                <nav>
                                    <ul class="nav navbar-nav">
                                    
                                    
                                    
                                    
                                     <li>
                                        <a href="/pages/about.html">about
                                          <!--<span>About DGL</span>-->
                                        </a>
                                     </li>
                                    
                                    
                                    
                                    
                                    
                                     <li>
                                        <a href="/pages/start.html">Get Started
                                          <!--<span>Install</span>-->
                                        </a>
                                     </li>
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                     <li>
                                        <a href="https://docs.dgl.ai/tutorials/blitz/index.html">Tutorials
                                        </a>
                                     </li>
                                     <li>
                                        <a href="/pages/index.html">Blogs
                                        </a>
                                     </li>
                                     <li>
                                        <a href="https://docs.dgl.ai">Docs
                                        </a>
                                     </li>
                                     <li>
                                        <a href="https://discuss.dgl.ai">Forum
                                        </a>
                                     </li>
                                     <li>
                                        <a href="https://github.com/dmlc/dgl">GitHub
                                        </a>
                                     </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Navigation -->
            </div>
        </div>
    </div>
</div>
<!-- End Mainmenu -->
<!-- Start Mobile Menu Area -->
<div class="col-xs-12 visible-xs">
    <div class="mobile-menu">
        <nav>
            <ul>
                <li><a href="/index.html">Home</a></li>
                
                
                
                
                 <li>
                    <a href="/pages/about.html">about
                    </a>
                 </li>
                
                
                
                
                
                 <li>
                    <a href="/pages/start.html">Get Started
                    </a>
                 </li>
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                <!--
                <li><a href="#">Questions</a>
                    <ul>
                        <li><a href="questions.html"> Questions</a></li>
                        <li><a href="ask-question.html">Ask Questions</a></li>
                        <li><a href="answers.html">Answers</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="register.html">Register</a></li>                               
                    </ul>
                </li>
                <li><a href="#">Pages</a>
                    <ul>
                       <li><a href="blog.html">Blog</a></li>
                       <li><a href="blog-details.html">Blog Details</a></li>
                       <li><a href="questions.html">Questions</a></li>
                       <li><a href="answers.html">Answers</a></li>
                       <li><a href="updates.html">Updates</a></li>
                       <li><a href="contact.html">Contact</a></li>
                       <li><a href="left-sidebar.html">Left Sidebar</a></li>
                       <li><a href="right-sidebar.html">Right Sidebar</a></li>
                       <li><a href="login.html">login</a></li>
                       <li><a href="register.html">Register</a></li>
                       <li><a href="404.html">404</a></li>                          
                    </ul>
                </li>                       
                -->
                <li><a href="https://docs.dgl.ai/tutorials/blitz/index.html">Tutorials</a></li>
                <li><a href="/pages/index.html">Blogs</a></li>
                <li><a href="https://docs.dgl.ai">Docs</a></li>
                <li><a href="https://discuss.dgl.ai">Forum</a></li>
                <li><a href="https://github.com/dmlc/dgl">GitHub</a></li>
            </ul>
        </nav>
    </div>
</div>
<!-- End MObile Menu Area

   </header>
    <!-- End Header -->
    <!-- Start Page Banner Area -->
    <div class="page-banner-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title">
                        <h2>Get Started</h2>
                        <span class="sub-title"><a href="https://www.dgl.ai">Home</a> / Get Started Page</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Pages Banner Area -->
<!-- Start Document Source Area -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.1/css/jquery.dataTables.min.css">

<!-- <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.16/css/bootstrap-multiselect.min.css"> -->
<!-- import Vue.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js"></script>


<!-- import Vue.multiselect -->
<script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
<link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">


<!-- import iView -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/iview/3.5.4/iview.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/iview/3.5.4/locale/en-US.js"></script>

<section class="blog-area themeix-ptb">
  <div class="container">
    <h2 class="themeix-section-title text-center">Installation</h2>
    <div class="row">

      <div class="col-sm-12">
        <div class="blog-wrapper">
          <div class="single-blog-details">
            <!-- Begin install cmd app -->
            <div id="app" style="padding: 32px">
              <row>
                <i-col span="5">
                  <div class="guide"> CUDA:</div>
                </i-col>
                <i-col span="19">
                  <radio-group v-model="button_cuda" type="button" size="large" style="width: 100%;">
                    <radio label="None"></radio>
                    <radio label="9.2"></radio>
                    <radio label="10.1"></radio>
                    <radio label="10.2"></radio>
                    <radio label="11.0"></radio>
                  </radio-group>
                </i-col>
              </row>
              <br />
              <row>
                <i-col span="5">
                  <div class="guide"> Package:</div>
                </i-col>
                <i-col span="19">
                  <radio-group v-model="button_pkg" type="button" size="large">
                    <radio label="Conda(Stable)"></radio>
                    <radio label="Pip(Stable)"></radio>
                    <radio label="Pip(Nightly Build)"></radio>
                  </radio-group>
                </i-col>
              </row>
              <br>
              <row>
                <i-col span="5">
                  <div class="guide"> Your OS:</div>
                </i-col>
                <i-col span="19">
                  <radio-group v-model="button_os" type="button" size="large">
                    <radio label="Linux"></radio>
                    <radio label="Windows"></radio>
                    <radio label="Mac"></radio>
                  </radio-group>
                </i-col>
              </row>
              <br>
              <row>
                <i-col span="5">
                  <div> Python Version:</div>
                </i-col>
                <i-col span="19">
                  <radio-group v-model="button_python" type="button" size="large">
                    <radio label="3.6"></radio>
                    <radio label="3.7"></radio>
                    <radio label="3.8"></radio>
                  </radio-group>
                </i-col>
              </row>
              <br><br>
              <row>
                <i-col span="5">
                  <div> Run this:</div>
                </i-col>
                <i-col span="19">
                  <i-input v-model="path_value" type="textarea" :autosize="true" style="width: 100%"
                    class="vertical-center" readonly />
                </i-col>
              </row>

            </div>

            <div>
              <h2 id="paper-table">Papers using DGL</h2>
              <div  style="margin-bottom: 10px;">
              <multiselect v-model="value" :options="options" :close-on-select="false" :clear-on-select="false" :multiple="true"
                :hide-selected="true" :preserve-search="true" placeholder="Pick some" label="name" track-by="name"
                :preselect-first="false" id="multiselect-paper" @input="onChange">
              </multiselect>
            </div>
              <!-- <select id="dropdown" multiple="multiple"> -->
              <!-- </select> -->

              <table id="table" class="display" cellspacing="0" width="100%">
              </table>
            </div>
            <!-- End install cmd app -->
            <div class="blog-content-desc">
              <p><h2 id="install-from-source">Install from source</h2>

<p>Check out our <a href="https://docs.dgl.ai/install/index.html#install-from-source">guide on build from source</a>.</p>

<h2 id="learning-dgl">Learning DGL</h2>
<p>Check out our <a href="https://docs.dgl.ai/index.html#getting-started">tutorials and documentations</a>.</p>

<h2 id="using-dgl-with-sagemaker">Using DGL with SageMaker</h2>

<p>Amazon SageMaker is a fully-managed service that enables data scientists and
developers to quickly and easily build, train, and deploy machine learning
models at any scale. Amazon SageMaker now supports DGL, simplifying
implementation of DGL models. A Deep Learning container (MXNet 1.6 and PyTorch
1.3) bundles all the software dependencies and the SageMaker API automatically
sets up and scales the infrastructure required to train graphs. Please refer to
the <a href="https://docs.aws.amazon.com/sagemaker/latest/dg/deep-graph-libary.html">SageMaker documentation</a> for
more information. The best way to get stated is with our sample Notebooks
below:</p>

<ul>
  <li>Semi-supervised classification of a knowledge base using a GCN (<a href="https://github.com/awslabs/amazon-sagemaker-examples/tree/master/sagemaker-python-sdk/dgl_gcn">https://github.com/awslabs/amazon-sagemaker-examples/tree/master/sagemaker-python-sdk/dgl_gcn</a>)</li>
  <li>Learning embeddings of large-scale knowledge graphs using a dataset of scientific publications (<a href="https://github.com/awslabs/amazon-sagemaker-examples/tree/master/sagemaker-python-sdk/dgl_kge">https://github.com/awslabs/amazon-sagemaker-examples/tree/master/sagemaker-python-sdk/dgl_kge</a>)</li>
  <li>Molecular property prediction of toxicity using a GCN (<a href="https://github.com/awslabs/amazon-sagemaker-examples/tree/master/sagemaker-python-sdk/dgl_gcn_tox21">https://github.com/awslabs/amazon-sagemaker-examples/tree/master/sagemaker-python-sdk/dgl_gcn_tox21</a>)</li>
  <li>Recommender system for movies using a GCMC implementation (<a href="https://github.com/awslabs/amazon-sagemaker-examples/tree/master/sagemaker-python-sdk/dgl_gcmc">https://github.com/awslabs/amazon-sagemaker-examples/tree/master/sagemaker-python-sdk/dgl_gcmc</a>)</li>
</ul>
</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


</section>


<script>
  // Run after the Document DOM tree is constructed
  $(document).ready(function () { // or shorthand of $( function () { 
    // Your jQuery scripts here!
    $.get("/assets/README.md", function (data) {
      var text = data;
      /* console.log(text);  */
      /* document.write(text); */

      /* get the nth capturing group for each match: */
      function getMatches(string, regex, index) {
        index || (index = 1); // default to the first capturing group
        var matches = [];
        var match;
        while (match = regex.exec(string)) {
          matches.push(match[index]);
        }
        return matches;
      }

      //Match or replace using some regex
      const tags_regex = /\b(Tags:\s)(.*)/g;
      var tags = getMatches(data, tags_regex, 2);
      /* console.log(tags);  */

      // get all current tags
      var all_tags = new Set();
      for (var i = 0; i < tags.length; i++) {
        var subtags = tags[i].split(", ");

        for (var j = 0; j < subtags.length; j++) {
          all_tags.add(subtags[j].trim());
        }
      }
      var tag_lists = []
      for (let item of all_tags) {
        tag_lists.push({"name": item})
      }; 


      const papers_regex = /(<a\s)(.*)(\.\s\[Paper)/g;
      var papers = getMatches(data, papers_regex, 2);
      var paper_lists = []
      for (let paper of papers){
        var anchor = paper.split("\"")[1]
        var paper_title = paper.split(".")[1].trim()
        paper_lists.push({"title": paper_title, "anchor": anchor})
      }
      /* console.log(papers); */
      /*  document.write(papers);  */
      function to_anchor_link(title, anchor){
        return "<a href=\"https://github.com/dmlc/dgl/blob/master/examples/README.md#"+anchor+"\">"+title+"</a>";
      }
      // Create a obj list where each obj is a matching of the Title and Tags
      var obj = [];
      for (var i = 0; i < paper_lists.length; i++) {
        obj.push({
          "Title": to_anchor_link(paper_lists[i]["title"], paper_lists[i]["anchor"]),
          "Tags": tags[i]
        });
      }
      /* console.log(obj); */

      // Just and example of building a dataTable from json
      // Without Search **fully** enabled
      var table = $('#table').DataTable({
        data: obj,
        columns: Object.keys(obj[0]).map(function (item) {
          return {
            data: item,
            title: item
          }
        })
      },
        {
          responsive: true,
          paginate: false,
          info: false
        }
      )


      var multiselect = new Vue({
      components: {
        Multiselect: window.VueMultiselect.default
      },
      data: {
        value: [],
        options: tag_lists
      },
      methods: {
        // customLabel (option) {
        //   return `${option.library} - ${option.language}`
        // },
        onChange (option, id) {
          var selected = [];
          for (var i = 0; i < this.value.length; i++){
            selected.push(this.value[i]["name"])
          }
          var regex = selected.join("|");
          console.log(regex)
          $('#table').DataTable().column(1).search(
            regex, true, true
          ).draw();
        }
      }
      }).$mount('#multiselect-paper')
    });

  });

</script>


<style type="text/css" scoped>
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .ivu-radio-wrapper {
    text-align: center;
    width: 150px;
  }

  .ivu-col {
    height: 50px;
    line-height: 50px;
  }

  .ivu-input {
    background: #f0faff;
    padding: 10px;
    resize: none;
  }
</style>

<script>
  Vue.component('vue-multiselect', window.VueMultiselect.default)
  function pip_path_cuda(_build_dir, _pkg) {
    var build_dir = {
      '9.2': '-cu92',
      '10.0': '-cu100',
      '10.1': '-cu101',
      '10.2': '-cu102',
      '11.0': '-cu110',
      'None': '',
    }[_build_dir];
    var pre_str = "";
    if (_pkg == 'Pip(Nightly Build)') {
      pre_str = " --pre"
    }

    return "pip install" + pre_str + " dgl" + build_dir
  }

  function conda_path(cuda) {
    var link_dict = {
      'None': 'conda install -c dglteam dgl',
      '9.2': 'conda install -c dglteam dgl-cuda9.2',
      '10.0': 'conda install -c dglteam dgl-cuda10.0',
      '10.1': 'conda install -c dglteam dgl-cuda10.1',
      '10.2': 'conda install -c dglteam dgl-cuda10.2',
      '11.0': 'conda install -c dglteam dgl-cuda11.0',
    };
    return link_dict[cuda]
  }


  var vm = new Vue({
    el: "#app",
    data: {
      button_cuda: 'None',
      button_os: 'Linux',
      button_python: '3.7',
      button_pkg: 'Conda(Stable)',
    },
    computed: {
      path_value: function () {
        if (this.button_os === 'Mac') {
          var cmd = (this.button_pkg === 'Conda(Stable)') ? conda_path('None') : "pip install dgl";
          if (this.button_pkg === 'Pip(Nightly Build)') {
            cmd += '\nMacOS binary does not have nightly build version. Install from source if needed.'
          }
          if (this.button_cuda !== 'None') {
            cmd += '\nMacOS binary does not support CUDA. Install from source if needed.'
          }
          return cmd
        } else {
          if (this.button_pkg === 'Conda(Stable)') {
            return conda_path(this.button_cuda)
          } else {
            if (this.button_os === 'Windows' && this.button_pkg === 'Pip(Nightly Build)') {
              return pip_path_cuda(this.button_cuda, 'Pip(Stable)') + "\nWindows binary does not have nightly build version. Install from source if needed."
            } else {
              return pip_path_cuda(this.button_cuda, this.button_pkg)
            }
          }
        }
      }
    }
  })
</script>
<!-- End Document Source Area -->

<!-- Start Blog Area -->
<!--
<section class="blog-area themeix-ptb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="blog-wrapper">
          <div class="single-blog-details">
            <div class="blog-content-desc">
              <p><h2 id="install-from-source">Install from source</h2>

<p>Check out our <a href="https://docs.dgl.ai/install/index.html#install-from-source">guide on build from source</a>.</p>

<h2 id="learning-dgl">Learning DGL</h2>
<p>Check out our <a href="https://docs.dgl.ai/index.html#getting-started">tutorials and documentations</a>.</p>

<h2 id="using-dgl-with-sagemaker">Using DGL with SageMaker</h2>

<p>Amazon SageMaker is a fully-managed service that enables data scientists and
developers to quickly and easily build, train, and deploy machine learning
models at any scale. Amazon SageMaker now supports DGL, simplifying
implementation of DGL models. A Deep Learning container (MXNet 1.6 and PyTorch
1.3) bundles all the software dependencies and the SageMaker API automatically
sets up and scales the infrastructure required to train graphs. Please refer to
the <a href="https://docs.aws.amazon.com/sagemaker/latest/dg/deep-graph-libary.html">SageMaker documentation</a> for
more information. The best way to get stated is with our sample Notebooks
below:</p>

<ul>
  <li>Semi-supervised classification of a knowledge base using a GCN (<a href="https://github.com/awslabs/amazon-sagemaker-examples/tree/master/sagemaker-python-sdk/dgl_gcn">https://github.com/awslabs/amazon-sagemaker-examples/tree/master/sagemaker-python-sdk/dgl_gcn</a>)</li>
  <li>Learning embeddings of large-scale knowledge graphs using a dataset of scientific publications (<a href="https://github.com/awslabs/amazon-sagemaker-examples/tree/master/sagemaker-python-sdk/dgl_kge">https://github.com/awslabs/amazon-sagemaker-examples/tree/master/sagemaker-python-sdk/dgl_kge</a>)</li>
  <li>Molecular property prediction of toxicity using a GCN (<a href="https://github.com/awslabs/amazon-sagemaker-examples/tree/master/sagemaker-python-sdk/dgl_gcn_tox21">https://github.com/awslabs/amazon-sagemaker-examples/tree/master/sagemaker-python-sdk/dgl_gcn_tox21</a>)</li>
  <li>Recommender system for movies using a GCMC implementation (<a href="https://github.com/awslabs/amazon-sagemaker-examples/tree/master/sagemaker-python-sdk/dgl_gcmc">https://github.com/awslabs/amazon-sagemaker-examples/tree/master/sagemaker-python-sdk/dgl_gcmc</a>)</li>
</ul>
</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
-->


    <!-- Start Footer Area -->
    <footer>
        <div class="footer-area themeix-ptb">
            <div class="container">
                <div class="row">
                    <div class="footer-wrapper">
                        <div class="col-sm-6 col-md-3">
                            <div class="single-footer">
                                <h3 class="footer-heading">Follow Us</h3>
                                <div class="single-footer-text">
                                    <p>Keep track the latest news, blogs and updates of DGL by following our social media accounts.</p>
                                </div>
                                <div class="social-links">
                                    <ul>
                                        <li><a href="https://twitter.com/GraphDeep"><i class="fa fa-twitter"></i></a></li>
                                        <li class="fb-link"><a href="https://www.facebook.com/GraphDeep/"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="/feed.xml"><i class="fa fa-rss"></i></a></li>
                                        <!--<li class="gp-link"><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="single-footer">
                                <h3 class="footer-heading">Quick Links</h3>
                                <div class="footer-list">
                                    <ul>
                                        <li><a href="/pages/about.html">About us</a></li>
                                        <li><a href="/pages/start.html">Get started</a></li>
                                        <li><a href="https://github.com/dmlc/dgl/releases">Latest updates</a></li>
                                        <li><a href="/pages/index.html">Blogs</a></li>
                                        <li><a href="https://github.com/dmlc/dgl/">Github</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="single-footer">
                                <h3 class="footer-heading">Materials</h3>
                                <div class="footer-list">
                                    <ul>
                                        <li><a href="https://docs.dgl.ai/tutorials/models/index.html">Tutorials</a></li>
                                        <li><a href="https://discuss.dgl.ai">Discuss forum</a></li>
                                        <li><a href="https://github.com/dmlc/dgl/issues">Github issues</a></li>
                                        <li><a href="https://github.com/dmlc/dgl/blob/master/CONTRIBUTORS.md">Contributing</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="single-footer">
                                <h3 class="footer-heading">Contact Us</h3>
                                <div class="subscribe-form">
                                    <form action="https://formspree.io/f/maylbdvy" method="POST">
                                        <input type="text" name="name" id="name" class="form-control" placeholder="Name" required>
                                        <input type="text" name="message" id="message" class="form-control" placeholder="Message" required>
                                        <input type="email" name="_replyto" id="email" class="form-control" placeholder="Email" required>
                                        <button type="submit" class="hover-bg">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Footer Bottom Area -->
        <!--
        <div class="footer-bottom-area themeix-pb">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="footer-bottom">
                            <div class="footer-logo">
                                <a href="#"><img src="/assets/images/footer-logo.png" alt="logo"></a>
                            </div>
                            <div class="footer-links">
                                <ul>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Refund Policy</a></li>
                                    <li><a href="#">Disclaimer</a></li>
                                </ul>
                            </div>
                            <div class="copyright-text">
                                <p>All content Documenter &copy; 2017 - All rights reserved. - Proudly made with <a href="http://designingmarket.com">Designing Market</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
        <!-- End Footer Bottom Area -->
        <!-- Start Scroll To Top -->
        <div class="scroll-top">
            <div class="scroll-icon">
                <i class="fa fa-angle-up"></i>
            </div>
        </div>
        <!-- End Scroll To Top -->
    </footer>
    <!-- End Footer Area -->

    <!-- jquery min -->
    <script src="/assets/js/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.1/js/jquery.dataTables.min.js"></script>
    

    <!-- Bootstrap Js -->
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- jQuery Easing -->
    <script src="/assets/js/jquery.easing.js"></script>

    <!-- Owl Carousel Js -->
    <script src="/assets/js/owl.carousel.min.js"></script>

    <!-- Google Map -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOCx7VEftKaGSK2F2p_tUKmMSdN00palo"></script> -->

    <!-- Mean Menu -->
    <script src="/assets/js/jquery.meanmenu.js"></script>

    <!-- Particles JS CDN -->
    <script src="/assets/js/particles.min.js"></script> 

    <!-- Main Js -->
    <script src="/assets/js/main.js"></script>

    <!-- MathJax Js -->
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
</body>

</html>
